:root {
    --score-BG: lightgreen;
    --score-border: yellow;
    --choice-BG: rgb(156, 201, 226);

}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
}

.timer {
position: fixed;
top: 0;
right: 0;
padding: 5px;
margin: 5px;
border: solid blue;
background-color: beige;
border-radius: 5px;
z-index: 1;
}

.highScoreBtn {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 5px;
    border: solid var(--score-border);
    background-color: var(--score-BG);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.quitBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    border: solid red;
    background-color: beige;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.interface {
    position: relative;
    display: flex;
}

.flexCenter {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    text-align: center;
}

.flexRow {
    display: flex;
    flex-direction: column;
}
.input {
    margin: 5px;
}

button {
    cursor: pointer;
}

#scoreBoard {
    list-style-type: none;
    padding: 20px;
    font-size: 150%;
    font-weight: bold;
    border: solid 2.5px var(--score-border);
    background-color: var(--score-BG);
}

@media (max-width: 740px) {
    .timer {
      font-size: 100%;
    }
  }
  